/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:link, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

@font-face {
  font-weight: 200;
  font-family: 'Neue Machina';
  src: url("/fonts/NeueMachina-Ultralight.ttf"); }
@font-face {
  font-weight: 300;
  font-family: 'Neue Machina';
  src: url("/fonts/NeueMachina-Light.ttf"); }
@font-face {
  font-weight: 400;
  font-family: 'Neue Machina';
  src: url("/fonts/NeueMachina-Regular.ttf"); }
@font-face {
  font-weight: 500;
  font-family: 'Neue Machina';
  src: url("/fonts/NeueMachina-Medium.ttf"); }
@font-face {
  font-weight: 600;
  font-family: 'Neue Machina';
  src: url("/fonts/NeueMachina-Bold.ttf"); }
@font-face {
  font-weight: 700;
  font-family: 'Neue Machina';
  src: url("/fonts/NeueMachina-Ultrabold.ttf"); }
@font-face {
  font-weight: 800;
  font-family: 'Neue Machina';
  src: url("/fonts/NeueMachina-Black.ttf"); }
.main__title {
  font-size: 40px;
  font-weight: 700; }

.calculator {
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #232323;
  background-color: #151515; }
  .calculator__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; }
  .calculator__input {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #d9fd8b; }
    .calculator__input-text {
      font-size: 18px;
      font-weight: 600;
      padding: 15px;
      border-radius: 5px;
      color: #161616;
      background-color: #abdf3a; }
    .calculator__input--wrapper {
      display: flex;
      align-items: center;
      gap: 10px; }
  .calculator__btn {
    width: 100%;
    padding: 20px 40px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #d9fd8b;
    border-radius: 10px;
    color: #161616;
    background-color: #abdf3a;
    transition: all 0.2s ease-in-out; }
    .calculator__btn:hover {
      color: #fff;
      background-color: #151515;
      transition: all 0.2s ease-in-out; }

.result {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
  margin-top: 10px;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #232323;
  border-radius: 10px;
  background-color: #151515; }
  .result__bmi {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    color: #161616;
    background-color: #abdf3a; }
  .result__total {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    color: #161616;
    background-color: #abdf3a; }

body {
  color: #fff;
  background-color: #0e0e0e;
  font-family: 'Neue Machina'; }

.container {
  max-width: 450px;
  margin-top: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, button::selection, div::selection, span::selection {
  color: #161616;
  background-color: #91be2f; }

.underweight {
  background-color: #df3a3a; }

.normal {
  background-color: #40df3a; }

.overweight {
  background-color: #df9d3a; }

.fat {
  background-color: #ff1717; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }
