@font-face {
  font-weight: 200;
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Ultralight.ttf');
}

@font-face {
  font-weight: 300;
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Light.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Regular.ttf');
}

@font-face {
  font-weight: 500;
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Medium.ttf');
}

@font-face {
  font-weight: 600;
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Bold.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Ultrabold.ttf');
}

@font-face {
  font-weight: 800;
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Black.ttf');
}