// Container
$containerWidth: 450px;

// Colors
$white: #fff;
$gray: #bcbcbc;

$mainGreen: #abdf3a;
$darkGreen: #91be2f;
$lightGreen: #d9fd8b;
$backgroundColor: #0e0e0e;
$calculatorBackground: #151515;
$borderColor: #232323;
$selectionText: #161616;

// Result Colors
$resultUnderweight: #df3a3a;
$resultNormal: #40df3a;
$resultOverweight: #df9d3a;
$resultFat: #ff1717;